
/* ----------login--------------- */

.logIn {
    width: 10%;
    text-align: right;
}

.logIn a {
    text-decoration: none;
    color:#9E9C9C;
}


.logIn button {
    width: 100%;
    max-width: 100px;
    min-height: 40px;
    margin: auto auto;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #9E9C9C;
    font-size: 16px;
    cursor:pointer;
}

.logIn button:hover {
    color: black;
}


/* --------------tablet----------- */

@media screen and (max-width: 939px){
    .logIn{
        order: 3;
        width: 20%;
        text-align: center;
    }
}



