.songsPage {
    width: 70%;
    background-color: white;
    margin-right: 12px;
    margin-top: 10px;
    padding: 10px 20px;
    padding-bottom: 100px;
}

.songsPage h2 {
    text-indent: 20px;
}

.pagination {
    text-align: left;
}

.pagination ul {
    padding: 0 20px;
}

.pagination_item {
    list-style: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    margin-left: -1px;
    cursor: pointer;
}

.pagination_item_current {
    list-style: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    margin-left: -1px;
    cursor: pointer;
    background-color: #0066ff;
    font-weight: 700;
}


.pagination_item:hover {
    background-color: gainsboro;
}

/* ----------------------- */

@media (max-width: 700px){
    .songsPage {
        width: 100%;
        margin-right: 0;
        padding-bottom: 10px;
    }
}

/* --------------------- */

@media (max-width:425px){
    .songsPage h2 {
        text-align: center;
    }

    .pagination {
        text-align: center;
    }
    
    .pagination ul {
        padding: 0;
    }
}