.footer {
    min-width: 100%;
    width: 100wv;
    height: 60px;
    z-index: 1000;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer audio {
    width: 100%;
    outline: none;
    border: none;
}

/* ----progress panel-------------- */

.progress {
    background-color: #e5e5e5;
    height: 5px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: -5px;
    transition-property: height,top;
    transition-duration: 0.2s;
}

.footer:hover .progress {
    height: 15px;
    top: -15px;
}

.progress .text {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1px;
}

.progress .text .time {
    display: none;
    align-items: center;
    width: 50px;
    z-index: 4;
    font-size: 10px;
    font-weight: 700;
    color: #333;
    padding: 0 5px;
}

.footer:hover .progress .text .time {
    display: flex;
}

.progress .value {
    background-color: #ffdc65;
    position: absolute;
    width: 20%;
    height: 100%;
}

/* -----control panel------------- */

.controls {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: #fff;
}

.controls_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.controls .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
}

/* ------control icons----------- */

.controls .icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.controls .icon:hover {
    opacity: 1;
}

.controls .prev .icon {
    background-image: url(../img/icon_prev.png);
}

.controls .play .icon {
    background-image: url(../img/icon_play.png);
}

.controls .pause .icon {
    background-image: url(../img/icon_pause.png);
}

.controls .next .icon {
    background-image: url(../img/icon_next.png);
}

.controls .repeat .icon {
    background-image: url(../img/icon_repeat.png);
}

.controls .volume .icon {
    background-image: url(../img/icon_volume.png);
}

.controls .like .icon {
    background-image: url(../img/icon_like.png);
}

.controls .download .icon {
    background-image: url(../img/icon_download.png);
}

/* ---------mp3------------ */


.controls .mp3 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: 0;
    height: 40px;
    overflow: hidden;
}

.controls .mp3 .artist_name {
    margin: 0 20px;
    font-weight: 600;
}


/* -------------actions------------- */

.controls .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 30px;
}

.controls .actions .volume {
    width: 35px;
    height: 40px;
    margin-right: 60px;
    position: relative;
    top: 0!important;
}

.controls .actions .volume>.controls_box {
    visibility: hidden;
    display: flex;
    position: absolute;
    left: 35px;
    top: 0;
    background: #314865;
    z-index: 1;
    height: 40px;
    box-shadow: 0 15px 30px rgba(0,0,0,.2);
    width: 165px;
    padding: 0 20px;
    align-items: center;
}

.controls .actions .volume:hover >.controls_box {
    visibility: visible;
}

.b_range {
    width: 100%;
    height: 10px;
    background-color: #3064a0;
    cursor: pointer;
}

.b_range .slider {
    position: relative;
    width: 20px;
    height: 100%;
    background-color: #fcee7e;
}