.footer {
    min-width: 100%;
    width: 100wv;
    height: 60px;
    z-index: 1000;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.footer audio {
    width: 100%;
    outline: none;
    border: none;
}

.footer .mp3 {
    background-color: whitesmoke;
    height: 40px;
    overflow: hidden;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(211, 209, 209);
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.mp3_buttons {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    height: 100%;
    border-right: 1px solid rgb(211, 209, 209);
}

.mp3_title {
    width: 90%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.mp3_buttons span {
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

.mp3_title_block {
    height: 100%;
    display: flex;
    align-items: center;
}

.button_prev, .button_next {
    width: 40px;
    background: url(../img/icon_prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    opacity: 0.6;
    
}

.button_next {
    background: url(../img/icon_next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;

}

.button_prev:hover, .button_next:hover {
    opacity: 1;
}

.song_artistName {
    margin: 0 20px;
    display: inline-block;
}

.song_artistName a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.song_artistName a:hover {
    text-decoration: underline;
}


/* ------------------ */

@media (max-width: 425px){
    .mp3_buttons {
        width: 20%;
    }
    
    .mp3_title {
        width: 80%;
        padding: 0 5px;
    }
}

/* ------------------ */

@media (max-width: 375px){
    .mp3_title>span:first-child {
        display: none;
    }
}

