.footer {
    min-width: 100%;
    width: 100wv;
    height: 60px;
    z-index: 1000;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer audio {
    width: 100%;
    outline: none;
    border: none;
}

.footer .mp3 {
    background-color: whitesmoke;
    display: none;
    align-items: center;
    height: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}

.footer .mp3 .title {
    margin: 10px 0;
}

.footer .mp3 .artist_name {
    margin: 0 20px;
    font-weight: 600;
}

