.footer {
    min-width: 100%;
    width: 100wv;
    height: 60px;
    z-index: 1000;
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer audio {
    width: 100%;
    outline: none;
    border: none;
}

.footer .mp3 {
    background-color: whitesmoke;
    display: none;
    height: 40px;
    overflow: hidden;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
}


.footer .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    line-height: 40px;
    height: 100%;
    width: 100%;
}

.footer .title span {
    display: inline-block;
    height: 100%;
    cursor: pointer;
}


.footer_buttonLike, .footer_buttonAdd {
    width: 40px;
}

.footer_checked {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../img/checked.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.footer_unchecked {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../img/add.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.footer_like {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../img/icon_liked.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    float: left;
}

.footer_dislike {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../img/icon_like.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    float: left;
}

.footer_artist_name {
    margin: 0 20px;
    font-weight: 700;
}

.footer_artist_name a {
    color: black;
    text-decoration: none;
    display: block;
}

.footer_artist_name a:hover {
    text-decoration: underline;
}


.footer .button_prev, .footer .button_next {
    width: 40px;
    background: url(../img/icon_prev.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    opacity: 0.6;
    
}

.footer .button_next {
    background: url(../img/icon_next.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;

}

.footer .button_prev:hover, .footer .button_next:hover {
    opacity: 1;
}


