.artistPage {
    width: 70%;
    background-color: white;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 100px;
    
}

.artistInfo {
    border-bottom: 2px solid rgb(211, 209, 209);
    padding: 30px;
    overflow: hidden;
    line-height: 160px;
}

.artistInfo_photo {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;  
}

.artistInfo_photo img {
    width: 100%; 
    border-radius: 50%;
}

.artistSongs {
    padding: 10px 20px;
}

/* ----------------------- */
@media (max-width: 700px){
    .artistPage {
        width: 100%;
        margin-right: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
    }

    .artistInfo {
        line-height: 70px;
        padding: 20px 10px 10px;
    }

    .artistInfo_photo {
        width: 200px;
        height: 200px;
        float: none;
        margin: 0 auto;  
    }

    .artistInfo_name {
        display: block; 
        text-align: center;
        margin: 0 auto;
    }
}