.registrationPage {
    width: 70%;
    background-color: white;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 20px;
}


#authForm_button_reg {
    border: 2px solid #3e6594;
    font-weight: 700;
}

#input_reset_reg {
    width: 300px;
    height: 40px;
    border: 2px solid #E3E3E3;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

/* ----------------------- */

@media (max-width: 700px){
    .registrationPage {
        width: 100%;
        margin-right: 0;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
}
