.allArtistsPage {
    width: 70%;
    background-color: white;
    margin-right: 12px;
    margin-top: 10px;
    padding-bottom: 100px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}


.allArtistsPage h1 {
    margin-left: 10px;
    width: 80%;
}

.allArtistsPage a {
    width: 17%;
    margin: auto;
    text-align: right;
    margin-right: 10px;
}


/* ----------------- */

@media (max-width: 700px){
    .allArtistsPage {
        width: 100%;
        margin-right: 0;
        padding-bottom: 10px;
    }
}

