.topSongs {
    padding: 10px 10px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topSongs h2 {
    margin-left: 10px;
    width: 80%;
}

.topSongsBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}