.topSongs {
    border-bottom: 2px solid rgb(211, 209, 209);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topSongs h2 {
    margin-left: 10px;
    width: 80%;
}

.topSongs a {
    width: 17%;
    margin: auto;
    text-align: right;
    margin-right: 10px;
}

.topSongsBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.topSong {
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
}

.topSong_button {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    cursor: pointer;
}

.topSong_button:hover {
    opacity: 1;
}

.buttonPlay {
    max-width: 10%;
    border: 1px solid grey;
    border-radius: 50%;
    background: url(../../img/play.png);
    background-repeat: no-repeat;
    background-position: 8px;
}

.buttonPlay:hover {
    border: 1px solid  black;
}

.topSong_title {
    width: 75%;
    padding: 0 20px;
}

.artist_name {
    font-weight: 700;
}

.artist_name a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

.artist_name a:hover {
    text-decoration: underline;
    opacity: 1;
}

.topSong_actions {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonLike {
    width: 50px;
    line-height: 40px;
    background: url(../../img/icon_like.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 1px;
    text-align: right;
    vertical-align: middle;
}

.buttonDownload {
    background: url(../../img/icon_download.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 50%;
}

.buttonDownload:hover {
    border: 1px solid  black;
}
