.topSongs {
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topSongs h2 {
    margin: 0 0 10px 20px;
    width: 70%;
    line-height: 20px;
}

.topSongs a {
    margin: 0 0 10px 0;
}

.topSongsBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ----------------- */

@media (max-width: 425px){
    .topSongs {
        padding: 10px;
    }
}