
/* ---------search--------------- */

.search {
    width: 25%;
    height: 45px;
}

.search form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.search input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: white;
    color: #9E9C9C;
    border-radius: 5px;
}
.search button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffa64d;
    background-image: url(./iconsearch.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search button:hover {
    background-image: url(./iconsearch2.png);
}
