.aside {
    position: relative;
    width: 28%;
    min-height: 100vh;
    background-color: white;
    padding: 20px; 
    margin-top: 10px; 
    padding-bottom: 100px; 
}

.searchTags {
    text-align: center;
}

.searchTags a {
    text-decoration: none;
}

.searchTags button {
    display: block;
    height: 35px;
    width: 90%;
    background-color: #e5ebf3;
    color:#333;
    text-transform: lowercase;
    border: none;
    outline: none;
    margin: 10px auto;
    cursor: pointer;
}

.searchTags button:hover {
    background-color: #314865;
    color: #fff;
    box-shadow: 3px 3px 5px grey;
}

@media (max-width: 425px){
    .aside {
        width: 100%;
    }

    .searchTags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .searchTags h3 {
        width: 100%;
    }
    .searchTags a {
        width: 30%;
    }
}

