.song {
    width: 100%;
    height: 60px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.song_button {
    width: 40px;
    height: 40px;
    opacity: 0.6;
    cursor: pointer;
}

.song_button:hover {
    opacity: 1;
}

/* -----------------button play---------------- */

.buttonPlay {
    max-width: 40px;
    height: 40px;
    width: 10%;
    cursor: pointer;
}

.play {
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 50%;
    background: url(../img/icon_play.png);
    background-repeat: no-repeat;
    background-position: 8px;
    opacity: 0.6;
}

.play:hover {
    opacity: 1;
    border: 1px solid  black;
}

.pause {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    background: url(../img/icon_pause.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

/* --------------song title------------- */

.song_title {
    width: 60%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.artist_name {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist_name a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    margin-right: 10px;
}

.artist_name a:hover {
    text-decoration: underline;
    opacity: 1;
}

.song_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ----------------------song actions---------------- */

.song_actions {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonCheck {
    width: 60px;
    line-height: 40px;
    text-align: right;
}

.checked {
    width: 30px;
    height: 40px;
    line-height: 40px;
    background: url(../img/icon_checked.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 1px;
    text-align: right;
    vertical-align: middle;
    float: left;
}

.unChecked {
    width: 30px;
    height: 40px;
    line-height: 40px;
    background: url(../img/icon_unchecked.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 1px;
    text-align: right;
    vertical-align: middle;
    float: left;
}

.buttonLike {
    width: 60px;
    line-height: 40px;
    text-align: right;
    flex-shrink: 0;
}

.liked {
    width: 30px;
    height: 40px;
    line-height: 40px;
    background: url(../img/icon_liked.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 1px;
    text-align: right;
    vertical-align: middle;
    float: left;
}

.unLiked {
    width: 30px;
    height: 40px;
    line-height: 40px;
    background: url(../img/icon_unliked.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 1px;
    text-align: right;
    vertical-align: middle;
    float: left;
}

.buttonDownload {
    background: url(../img/icon_download.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
    border-radius: 50%;
    padding: 0 5px;
}

.buttonDownload a {
    display: block;
    width: 100%;
    height: 100%;
}


/* ---------------- */
@media (max-width: 768px){
    .buttonPlay {
        width: 20%;
    }
    .song_title {
        width: 50%;
        padding: 0 10px;
    }
    .song_actions {
        width: 40%;
    }
}
/* ---------------- */
@media (max-width: 425px){
    .song {
        padding: 5px;
    }
    .song_title {
        width: 55%;
        padding: 0 10px;
    }

    .buttonLike {
        flex-shrink: 1;
    }

    .buttonLike>span {
        display: none;
    }
    .song_actions {
        width: 25%;
    }
    .song_duration {
        display: none;
    }
}

/* ---------------- */
@media (max-width: 460px){
    .song {
        padding: 0;
    }
}

/* ---------------- */
@media (max-width: 320px){

    .song_title {
        width: 50%;
        padding: 0;
        font-size: 0.9rem;
    }

    .artist_name {
        margin-right: 5px;
    }

    .song_actions {
        width: 30%;
    }

}