.favorites {
    width: 70%;
    background-color: white;
    margin-right: 12px;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 100px;
}

.favorites_sort {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.favorites_sort div {
    width: 23%;
}

.favorites_sort button {
    height: 40px;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
    border: 1px solid white;
    box-shadow: 5px 5px 10px grey;
    background-color: transparent;
}

.favorites_sort button:hover {
    border: 1px solid white;
    box-shadow: inset 5px 5px 10px grey;
}